<div class="container">
    <div class="row">
        <div class="col-3 mt-3">
            <div class="card">
                <div class="card-header">
                    <h4 class="text-center">Leader</h4>
                </div>
                <div class="card-body">
                    <div class="info">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/8/8c/Cristiano_Ronaldo_2018.jpg"alt=""
                            width="100px" height="100px" style="border-radius: 50%;">
                        <h5>Name</h5>
                    </div>
                    <div class="team__customer">
                        <h6>
                            Team Summary
                        </h6>
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Members
                                <span class="badge bg-danger rounded-pill">69</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Total cost of all projects
                                <span class="badge bg-danger rounded-pill">$2999k</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Processing tasks
                                <span class="badge bg-danger rounded-pill">29</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Upcoming projects
                                <span class="badge bg-danger rounded-pill">29</span>
                            </li>
                        </ul>
                    </div>
                    <div class="team__customer">
                        <h6>Customer</h6>
                        <ul class="list-group">
                            <li class="list-group-item">Customer 1</li>
                            <li class="list-group-item">Customer 2</li>
                            <li class="list-group-item">Customer 3</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 mt-3">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-toggle="dropdown" aria-expanded="false">
                    Project
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Project1</a></li>
                    <li><a class="dropdown-item" href="#">Project2</a></li>
                    <li><a class="dropdown-item" href="#">Project3</a></li>
                </ul>
            </div>
            <div class="card mt-3">
                <div class="card-header">
                    <h5 class="text-center">Project Summary</h5>
                </div>
                <div class="card-body">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <td>Project cost</td>
                                <td>$2,999,999,999</td>
                            </tr>
                            <tr>
                                <td>Project cost</td>
                                <td>$2,999,999,999</td>
                            </tr>
                            <tr>
                                <td>Project cost</td>
                                <td>$2,999,999,999</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-header">
                    <h5 class="text-center">Members of Teams</h5>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <th>#</th>
                            <th>Number of members</th>
                            <th>Staff on leave</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Team 1</td>
                                <td>30</td>
                                <td>9</td>
                            </tr>
                            <tr>
                                <td>Team 2</td>
                                <td>30</td>
                                <td>9</td>
                            </tr>
                            <tr>
                                <td>Team 3</td>
                                <td>30</td>
                                <td>9</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-3 mt-3">
            <div class="card">
                <div class="card-header">
                    <h5>Members of team</h5>
                </div>
                <div class="card-body">
                    <ul class="list-group members__of__team">
                        <li class="list-group-item">Team 1
                            <ul class="navbar-nav">
                                <li>Staff 1 <span>Available</span></li>
                                <li>Staff 1 <span>Available</span></li>
                                <li>Staff 1 <span>Busy</span></li>

                            </ul>
                        </li>
                        <li class="list-group-item">Team 2</li>
                        <li class="list-group-item">Team 3</li>
                        <li class="list-group-item">Team 4</li>
                        <li class="list-group-item">Team 5</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>