<div class="container">
    <div class="row">
        <div class="col-3 mt-3">
            <div class="card">
                <div class="card-header">
                    <h4 class="text-center">Staff</h4>
                </div>
                <div class="card-body">
                    <div class="info">
                        <img src="https://phantom-marca.unidadeditorial.es/a005a5f18d416048995cccde6fb1c990/resize/1320/f/jpg/assets/multimedia/imagenes/2021/06/09/16232740884459.jpg" alt=""
                            width="100px" height="100px" style="border-radius: 50%;">
                        <h5>{{user.name}}</h5>
                    </div>
                    <div class="team__customer">
                        <h6>
                            Team Summary
                        </h6>
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Members
                                <span class="badge bg-danger rounded-pill">69</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Total cost of all projects
                                <span class="badge bg-danger rounded-pill">$2999k</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Processing tasks
                                <span class="badge bg-danger rounded-pill">29%</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Upcoming projects
                                <span class="badge bg-danger rounded-pill">29</span>
                            </li>
                        </ul>
                    </div>
                    <div class="team__customer">
                        <h6>Customer</h6>
                        <ul class="list-group">
                            <li class="list-group-item">Customer 1</li>
                            <li class="list-group-item">Customer 2</li>
                            <li class="list-group-item">Customer 3</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9 mt-3">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-toggle="dropdown" aria-expanded="false">
                    Project
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Project1</a></li>
                    <li><a class="dropdown-item" href="#">Project2</a></li>
                    <li><a class="dropdown-item" href="#">Project3</a></li>
                </ul>
            </div>
            <div class="card mt-3">
                <div class="card-header">
                    <h5 class="text-center">Project Summary</h5>
                </div>
                <div class="card-body">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <td>Project cost</td>
                                <td>$2,999,999,999</td>
                            </tr>
                            <tr>
                                <td>Project cost</td>
                                <td>$2,999,999,999</td>
                            </tr>
                            <tr>
                                <td>Project cost</td>
                                <td>$2,999,999,999</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-header">
                    <h5 class="text-center">Tasks</h5>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <th>#</th>
                            <th>Task Name</th>
                            <th>Description</th>
                            <th>Piority</th>
                            <th>Status</th>
                        </thead>
                        <tbody>
                            <tr *ngFor='let t of tasks'>
                                <td>{{t._id}}</td>
                                <td>{{t.taskName}}</td>
                                <td>{{t.description}}</td>
                                <td *ngIf = 't.priority ==0' >normal</td>
                                <td *ngIf = 't.priority ==1' >important</td>
                                <td *ngIf = 't.priority ==2' >very important</td>
                                <td *ngIf = 't.status ==0'> <button (click)='complete(t._id)'>conmplete</button> holding</td>
                                <td *ngIf = 't.status ==1' > <button (click)='delete(t._id)'>delete</button>  complete</td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>